.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* min-height: 100%;
  position: relative; */
}

.App-title {
  font-size: 1.5em;
}

.navigation_buttom {
  color: green;
  border-color: green;
}

.border-3 {
  border-width:3px !important;
}

main {
  min-height: 100%;
  position: relative;
  /* height: 100%; */
  padding-bottom: 20px;  /* This value has to be the same that footer's height-> Footer.css */
}
