.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-title {
  font-size: 1.5em;
}

.navigation_buttom {
  color: green;
  border-color: green;
}

.border-3 {
  border-width:3px !important;
}