.profile-picture {
    /*width: 50%; */
    max-width: 80%;
}

.status-btn {
    font-size: xx-small;
    margin-right: 5%;  /* Provisional */
}

.ageBox {
    border-radius: 20px !important;
    font-size: smaller;
    color: gray;
}

.sectionTitle {
    color: green;
    margin-bottom: 5%;
}